{% extends 'interviewmate/base.html' %}

{% load staticfiles %}



{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1>{{ category_name }}</h1>
    {% if category %}
        {% if questions %}
        <ul>
                {% for question in questions %}
                <li><a href="/interviewmate/question/{{ question.slug }}">{{ question.title }}</a></li>
                {% endfor %}
                </ul>
        {% else %}
                <strong>No pages currently in category.</strong>
                {% endif %}

        {% if user.is_authenticated %}
                <a href="/interviewmate/category/{{ category_name_slug }}/add_question/">Post a question to this category</a>
                {% endif %}
        {% else %}
                 The specified category {{ category_name }} does not exist!
    {% endif %}

{% endblock %}


