{% extends 'interviewmate/base.html' %}

{% load staticfiles %}


{% block body_block %}

<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

<form class="form-signin" role="form" method="post" action=".">
{% csrf_token %}

<h2 class="form-signin-heading">Please sign in</h2>
<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
<input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
        </form>

{% endblock %}

{##}
{##}
{##}
{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->#}
{#        <title>login</title>#}
{#    </head>#}
{##}
{#    <body>#}
{#        {% if help_text %}#}
{#        <h1>{{ help_text }}</h1>#}
{#        {% else %}#}
{#        <h1>Login to InterviewMate</h1>#}
{#        {% endif %}#}
{#        <form id="login_form" method="post" action="/interviewmate/login/">#}
{#            {% csrf_token %}#}
{#            Username: <input type="text" name="username" value="" size="50" />#}
{#            <br />#}
{#            Password: <input type="password" name="password" value="" size="50" />#}
{#            <br />#}
{##}
{#            <input type="submit" value="submit" />#}
{#        </form>#}
{##}
{#    </body>#}
{#</html>#}